*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
    font-family: 'Lato','Montserrat' ,sans-serif;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.header{
    margin-top: 0em;
    margin-bottom: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header .header-txt{
    color: #000000bd;
    font-weight: bolder;
    mix-blend-mode: hard-light;
}

.container button{
    font-size: 1.25em;
    border-radius: 40px;
    padding: 1rem;
    align-items: baseline;
}
button.gen-btn
{
    background: linear-gradient(-45deg, #ee7752, #e73c7e);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    color: black;
    font-size: 1em;
    font-weight: bold;
    border: none;
}
button.gen-btn:hover{
    background-color: rgba(0,0,0,0.2);
    background: linear-gradient(-45deg, #f15626, #e51967);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}
button.sort-btn{
    padding: 0.5em 0.7em!important;
}
button.sort-btn:hover{
    background-color: rgba(0,0,0,0.5);
}
.flex-item{
    background: rgb(0, 0, 0);
    border: 1pt solid black;
    width: 15px;
    transition: 0.1s all ease;
    margin-left: 1px;
    margin-right: 1px;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

.array-section{
    display: flex;
    height:40vh;
}
#input{
    justify-content: space-evenly;
}

#input input[type="range"]::-webkit-slider-thumb {
    background-color: #120e00; /* Change the color to your desired color */
  }
  
  #input input[type="range"]::-moz-range-thumb {
    background-color: #ffc107; /* Change the color to your desired color */
  }
  
  #input input[type="range"]::-ms-thumb {
    background-color: #ffc107; /* Change the color to your desired color */
  }
  