@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,700;0,800;0,900;1,100;1,400&display=swap');;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
html{
    height: 100%;
    width: 100%;
}
body{
    font-family: 'Lato','Montserrat' ,sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    margin: auto;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.mainclass
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#mainimg{
    border-radius: 2rem;
    opacity: 0.9;
    mix-blend-mode: hard-light;
    filter: brightness(1.25);
    filter: contrast(1.2);
    width: 80%;
}
#mainhead1 {
    color: white;
    font-size: 5em;
    font-weight: bolder;
}
#mainhead2{
    color: white;
    font-size: 4em;
    font-weight: bolder;
}
#mainbtn
{
    display: flex;
    color: white;
    background-color: black;
    border: solid,5px,rgb(255, 12, 12);
    border-radius: 45px;
    font-size: 2rem;
    padding:  0.5rem 2rem;
    margin: auto;
    margin-top: 20px;
}
#mainbtn:hover{
    background-color: rgba(0,0,0,0.5);
}
#mainbtn a{
    text-decoration: none;
    color: white;
}
.arr-container{
     margin-top: 20px;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 500px;
    justify-content: center;
    transition: 2s all ease;

}
#input{
    display: flex;
    padding: 10px;
    justify-content: space-around;
}
